:root{
    --color-1: #1e1e1e;
    --color-2: #252526;
    --color-3: #2d2d30;
    --color-4: #3e3e42;
    --color-5: lightgrey;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic', serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: radial-gradient(var(--color-1), var(--color-1));
}

#canvas-container {
    aspect-ratio: 16 / 9; 
    max-width: min(100vw, 100vh * (16/9));
    max-height: min(100vh, 100vw * (9/16));
    width: 100%;
    height: 100%;
    margin: auto;
    
}
#game-canvas{
    display: block;
    background-color: #111;
    width: 100%; 
    height: 100%;
    box-shadow: 0 0 20px var(--color-1);
    image-rendering: pixelated; 
    image-rendering: crisp-edges;
   
}